* {
	font-family: "Century Gothic", Arial;
	
}

p {color: white;}

nav {
    width: 100%;
    margin: auto;
    background-color: #191919;
    top: 10px;
    margin-bottom: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #191919;
    display: flex;
    flex-direction: row;
}

nav ul li {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;

}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px 0px;
    color: white;
}

nav a:hover {
	transition: 0.3s;
    background-color: black;
}

.sous {
    display: none;
    background-color: #212121;
    width: 100%;
    position: absolute;


}

nav ul li:hover .sous{
    display: block;
}

.sous li {
    float: none;
    width: 100%;
    text-align: center;
}

.sous a {
    padding: 10px;
    border-radius: 0px;
}

.sous a:hover {
    background-color: black;
}

.deroulant > a::after {
    content:" ▼";
    font-size: 12px;
}

#slides {
	width: 600px;
	height: 400px; 
	margin: auto;
	border-radius: 5px;
}

#main-container {
	width: 600px;
	height: auto;
	margin: auto;
	border-radius: 5px;
	background-color: #191919;
}

#main-container p {
	padding: 15px;
}

h1 {
	text-align: center;
	font-size: 2.7em;
}

.logo_ariege {
	float: left;
	height: 75px;
}

.container {
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	background-color: #191919;
	height: auto;
	transition: height 2s;

}

.img_container {
	border-radius: 5px 0px 0px 0px;
	height: 165px;
	width: 165px;
	float: left;
	margin-right: 15px;
}

.container button {
	border: none;
	border-radius: 0px 0px 5px 5px;
	background-color: black;
}

.container p {
	margin-right: 15px;
}

.recette {
	margin-left: 165px;
}

.container div {
	display: flex;
	flex-direction: row;
}

footer {
	background-color: #191919;
	position: fixed;
	bottom: 0; 
	left: 0; 
	right: 0;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

form div {
	margin-bottom: 15px;
}

input:invalid {
	border-color: #C22727;
}

input, select {
	border-radius: 5px;
	border: black solid 2px;
	color: black;
	background-color: #212121;
	color: white;
}

.btn, textarea{
	background-color:  #212121;
	border: solid black 1px;
}


#formulaire {
	border-radius: 20px;
	border: 0px;
}

label {
	color:white;
}

#form_contact {
	border-radius: 20px;
	border: 0px solid #191919;
}

.container_chateau {
	display: flex;
	flex-direction: row;
	background-color: #191919;
	margin-bottom: 15px;
	height: 150px;
	border-radius: 5px;
}

.container_chateau img {
	width: 200px;
	height: 150px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.container_chateau p {
	margin-left: 10px;
	margin-right: 10px;
}

body {
	background-image: url('img/paysage4.jfif');
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size:  auto 100%;
}



#div_formulaire {
	background-color: #191919;
	border-radius: 20px;
	width: 400px;
	margin: auto;
	color: white;
}

.left-container {
	flex: 1;
	background-color: #191919;
	color: white;
	margin-right: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
}

#main-container-chateau {
	display: flex;
	flex-direction: row;
}

#second-container-chateau {
	flex: 7;
}

.left-container ul li a {
	color: white;
	text-decoration: none;
	margin-bottom: 15px;

}

.left-container ul li a:hover {
	border-bottom: solid #9E9E9E 1px;
	color: #9E9E9E;

}



.left-container ul li{
	margin-bottom: 15px;
}

.voir_plus:hover {
	transition: 0.3s;
	background-color: #6B6B6B;
}

#main-container-recette {
	display: flex;
}

#recette_total {
	flex: 7;
}

.btn_dark {
	background-color: #191919;
	border: solid black 1px;
}


::-webkit-scrollbar{display: none;}
